# Subquery Challenges

\*\*Use SAMPLEDB Database\*\*

In [1]:
USE SAMPLEDB 
GO

### **First Challenge**

Challenge: Return the following product details for the cheapest product(s) in the oes.products table: 

\- product\_id 

\- product\_name 

\- list\_price 

\- category\_id

In [2]:
SELECT product_id, product_name, list_price, category_id 
FROM oes.products 
WHERE list_price = (SELECT MIN(list_price) FROM oes.products);

product_id,product_name,list_price,category_id
67,Spigen Galaxy Note 10 tough armor case,20.0000,1

### **Second Challenge**

Challenge: Use a correlated subquery to return the following product details for the cheapest product(s) in each product category as given by the category\_id column: 

\- product\_id 

\- product\_name 

\- list\_price 

\- category\_id

In [4]:
SELECT p.product_id, p.product_name, p.list_price, p.category_id 
FROM oes.products p 
WHERE p.list_price = 
(SELECT MIN(p2.list_price) 
FROM oes.products p2
WHERE p.category_id = p2.category_id);

product_id,product_name,list_price,category_id
67,Spigen Galaxy Note 10 tough armor case,20.0000,1
66,Adesso iMouse E1,79.9500,2
79,PBX 21 inch Series 9 Monitor,79.9500,2
68,Andromeda Drone with Camera,49.9900,3
33,Edifier Multimedia 2.0 system PC Speaker,22.9400,4
23,PBX 32106 NUC Mini PC Desktop Kit,350.9500,5
53,AB Security cam,300.0000,6
14,HP LaserJet Pro M15W printer,23.2500,7
18,Ugreen CM129 Audio Sound Card Adapter,28.7500,8

### **Third Challenge** 

Challenge: Return the same result as challenge 2 i.e. the cheapest product(s) in each product category except this time by using an inner join to a derived table.

In [6]:
SELECT p.product_id, p.product_name, p.list_price, p.category_id 
FROM oes.products p 
INNER JOIN 
(SELECT category_id, MIN(list_price) as min_list_price
FROM oes.products 
GROUP BY category_id) p2
ON p.category_id = p2.category_id 
WHERE p.list_price = p2.min_list_price;

product_id,product_name,list_price,category_id
67,Spigen Galaxy Note 10 tough armor case,20.0000,1
66,Adesso iMouse E1,79.9500,2
79,PBX 21 inch Series 9 Monitor,79.9500,2
68,Andromeda Drone with Camera,49.9900,3
33,Edifier Multimedia 2.0 system PC Speaker,22.9400,4
23,PBX 32106 NUC Mini PC Desktop Kit,350.9500,5
53,AB Security cam,300.0000,6
14,HP LaserJet Pro M15W printer,23.2500,7
18,Ugreen CM129 Audio Sound Card Adapter,28.7500,8

### **Fourth Challenge** 

Challenge: Return the same result as challenge 2 and 3 i.e. the cheapest product(s) in each product category except this time by using a common table expression.

In [9]:
WITH min_price_cat AS
(SELECT category_id, MIN(list_price) as min_list_price
FROM oes.products 
GROUP BY category_id)
SELECT p.product_id, p.product_name, p.list_price, p.category_id 
FROM oes.products p, min_price_cat
WHERE p.category_id = min_price_cat.category_id AND p.list_price = min_price_cat.min_list_price;

product_id,product_name,list_price,category_id
67,Spigen Galaxy Note 10 tough armor case,20.0000,1
66,Adesso iMouse E1,79.9500,2
79,PBX 21 inch Series 9 Monitor,79.9500,2
68,Andromeda Drone with Camera,49.9900,3
33,Edifier Multimedia 2.0 system PC Speaker,22.9400,4
23,PBX 32106 NUC Mini PC Desktop Kit,350.9500,5
53,AB Security cam,300.0000,6
14,HP LaserJet Pro M15W printer,23.2500,7
18,Ugreen CM129 Audio Sound Card Adapter,28.7500,8

### **Fifth Challenge** 

Challenge: Repeat challenge 4, except this time include the product category name as given in the oes.product\_categories table.

In [10]:
WITH min_price_cat AS
(SELECT category_id, MIN(list_price) as min_list_price
FROM oes.products 
GROUP BY category_id)
SELECT p.product_id, p.product_name, p.list_price, p.category_id, pc.category_name 
FROM oes.products p, min_price_cat, oes.product_categories pc
WHERE p.category_id = min_price_cat.category_id AND p.list_price = min_price_cat.min_list_price AND p.category_id = pc.category_id;

product_id,product_name,list_price,category_id,category_name
67,Spigen Galaxy Note 10 tough armor case,20.0000,1,Phones and Accessories
66,Adesso iMouse E1,79.9500,2,PC Peripherals
79,PBX 21 inch Series 9 Monitor,79.9500,2,PC Peripherals
68,Andromeda Drone with Camera,49.9900,3,Cameras and Drones
33,Edifier Multimedia 2.0 system PC Speaker,22.9400,4,TV and Audio
23,PBX 32106 NUC Mini PC Desktop Kit,350.9500,5,Computers
53,AB Security cam,300.0000,6,Home Security
14,HP LaserJet Pro M15W printer,23.2500,7,Printing and Office
18,Ugreen CM129 Audio Sound Card Adapter,28.7500,8,PC Parts

### **Sixth Challenge** 

Background: The employee\_id column in the oes.orders table gives the employee\_id of the salesperson who made the sale. 

  

Challenge: Use the NOT IN operator to return all employees who have never been the salesperson for any customer order. Include the following columns from hcm.employees: 

\- employee\_id 

\- first\_name 

\- last\_name

In [12]:
SELECT e.employee_id, e.first_name, e.last_name 
FROM hcm.employees e
WHERE e.employee_id NOT IN 
(SELECT employee_id 
FROM oes.orders
WHERE employee_id IS NOT NULL);

employee_id,first_name,last_name
100,Jack,Bernard
101,Don,Reilly
102,Judy,Lawson
103,Yani,Wenzlick
104,Rachel,Mortensen
105,Paul,Cameron
106,Russell,King
107,Maria,Cameron
108,Patricia,Doyle
109,Daniel,Hopkins
110,John,Chen
111,Llyod,Henderson
112,Lena,Chadwick
113,Richard,Stewart
114,Diana,Colman
115,Alexander,Khoo
116,Shelli,Baida
117,Peter,Owen
118,Peter,Owen
119,Karen,Colmenares
120,Matthew,Wilson
121,Jack,Hale
122,Priya,Singh
123,Shanta,Vollman
124,Kevin,Mourgos
125,Julia,Nayer
126,Irene,Mikkilineni
127,James,Landry
128,Steven,Markle
129,Laura,Bissot
130,Mark,Atkinson
131,James,Marlow
132,Gavin,Olson
133,Jason,Mallin
134,Michael,Rogers
135,Mitch,Holt
136,Hazel,Philtanker
137,Renske,Ladwig
138,Stephen,Stiles
139,Tony,Rogers
140,Mayank,Patel
141,Trenna,Rajs
142,Rick,Davies
143,Randall,Matos
144,Peter,Vargas
178,Olivia,Grant
179,Richie,Johnson
180,Horacio,Taylor
181,Laura,Hobbs
182,Martha,Sullivan
183,Girard,Geoni
184,Nandita,Sarchand
185,Alexis,Bull
186,Julia,Dellinger
187,Anthony,Cabrio
188,Kelly,Chung
189,Jennifer,Dilly
190,Timothy,Gates
191,Chuck,Perkins
192,Sarah,Bell
193,Britney,Everett
194,Samuel,McCain
195,Catrina,Jones
196,Tabitha,Walsh
197,Milford,Feeney
198,Alfred,Tate
199,Douglas,Grant
200,Jennifer,Whalen
201,Michael,Hartstein
202,Patrick,Bacon
203,Susan,Jacobs
204,Richard,Baer
205,Shelley,Higgins
206,William,Gietz

### **Seventh Challenge** 

Challenge: Return the same result as challenge 6, except use WHERE NOT EXISTS

In [16]:
SELECT e.employee_id, e.first_name, e.last_name 
FROM hcm.employees e
WHERE NOT EXISTS
(SELECT employee_id 
FROM oes.orders o
WHERE e.employee_id = o.employee_id);

employee_id,first_name,last_name
100,Jack,Bernard
101,Don,Reilly
102,Judy,Lawson
103,Yani,Wenzlick
104,Rachel,Mortensen
105,Paul,Cameron
106,Russell,King
107,Maria,Cameron
108,Patricia,Doyle
109,Daniel,Hopkins
110,John,Chen
111,Llyod,Henderson
112,Lena,Chadwick
113,Richard,Stewart
114,Diana,Colman
115,Alexander,Khoo
116,Shelli,Baida
117,Peter,Owen
118,Peter,Owen
119,Karen,Colmenares
120,Matthew,Wilson
121,Jack,Hale
122,Priya,Singh
123,Shanta,Vollman
124,Kevin,Mourgos
125,Julia,Nayer
126,Irene,Mikkilineni
127,James,Landry
128,Steven,Markle
129,Laura,Bissot
130,Mark,Atkinson
131,James,Marlow
132,Gavin,Olson
133,Jason,Mallin
134,Michael,Rogers
135,Mitch,Holt
136,Hazel,Philtanker
137,Renske,Ladwig
138,Stephen,Stiles
139,Tony,Rogers
140,Mayank,Patel
141,Trenna,Rajs
142,Rick,Davies
143,Randall,Matos
144,Peter,Vargas
178,Olivia,Grant
179,Richie,Johnson
180,Horacio,Taylor
181,Laura,Hobbs
182,Martha,Sullivan
183,Girard,Geoni
184,Nandita,Sarchand
185,Alexis,Bull
186,Julia,Dellinger
187,Anthony,Cabrio
188,Kelly,Chung
189,Jennifer,Dilly
190,Timothy,Gates
191,Chuck,Perkins
192,Sarah,Bell
193,Britney,Everett
194,Samuel,McCain
195,Catrina,Jones
196,Tabitha,Walsh
197,Milford,Feeney
198,Alfred,Tate
199,Douglas,Grant
200,Jennifer,Whalen
201,Michael,Hartstein
202,Patrick,Bacon
203,Susan,Jacobs
204,Richard,Baer
205,Shelley,Higgins
206,William,Gietz

### **Eighth Challenge** 

Challenge: Return unique customers who have ordered the 'PBX Smart Watch 4’. Include: 

\- customer\_id 

\- first\_name 

\- last\_name 

\- email

In [22]:
SELECT DISTINCT c.customer_id, c.first_name, c.last_name, c.email
FROM oes.customers c 
INNER JOIN oes.orders o 
ON c.customer_id = o.customer_id 
INNER JOIN oes.order_items oi 
ON o.order_id = oi.order_id 
INNER JOIN oes.products p 
ON oi.product_id = p.product_id 
WHERE p.product_name = 'PBX Smart Watch 4';

customer_id,first_name,last_name,email
4,Trina,Oto,trina@oto.com.au
5,Emelda,Geffers,emelda.geffers@gmail.com
11,Kathryn,Bonalumi,kathryn.bonalumi@yahoo.com
12,Suzan,Landa,suzan.landa@gmail.com
19,Albina,Glick,albina@glick.com
20,Alishia,Sergi,asergi@gmail.com
23,Rozella,Ostrosky,rozella.ostrosky@ostrosky.com
25,Kati,Rulapaugh,kati.rulapaugh@hotmail.com
28,Aleshia,Harris,a_harris@hotmail.com
32,Tyisha,Veness,tyisha.veness@hotmail.com
35,Laquita,Hisaw,laquita@yahoo.com
38,Fernanda,Writer,fernanda@writer.co.uk
47,Mee,Lapinski,mee.lapinski@yahoo.com
51,Lourdes,Bauswell,lourdes_bauswell@aol.com
61,Casper,Henderson,casper123@hotmail.com
62,Huey,Marcille,huey.marcille@gmail.com
63,Apolonia,Warne,apolonia@gmail.com
69,Willard,Lablanc,wlablanc@yahoo.com
70,Lauryn,Randol,lauryn@yahoo.com
71,Laurena,Davis,laurena.davis@davis.com
75,Tish,Violett,tish.violett@violett.com
76,Hollis,Stanfield,hollis.stanfield@aol.com
83,Vicki,Jones,vicki@gmail.com
84,Renato,Airhart,renato_airhart@hotmail.com
86,Barney,Hagen,barney@yahoo.com
87,Matthew,Armacost,matthew_armacost@gmail.com
89,Iesha,Wardle,iesha@gmail.com
91,Paulene,Thomas,paulene_thomas@rhule.org