# CREATE TABLE Challenges

\*\*Use SAMPLEDB Database\*\*

In [1]:
USE SAMPLEDB
GO

### **First Challenge** 

Challenge: Create a table called dept in the dbo schema. Specify the following columns: 

\- dept\_id INT 

\- dept\_name VARCHAR(50) 

Give the IDENTITY property to the dept\_id column. Also, put a primary key constraint on the dept\_id column. Put a NOT NULL constraint on the dept\_name column.

In [2]:
CREATE TABLE dbo.dept (
    dept_id INT IDENTITY(1,1),
    dept_name VARCHAR(50) NOT NULL,
    CONSTRAINT pk_dept_dept_id PRIMARY KEY (dept_id)
);

### **Second Challenge** 

Challenge: Write an insert statement to insert the following row into the dbo.dept table: 

| dept\_id | dept\_name |
| :-------- | :---------- |
| 1 | Business Intelligence |

In [5]:
INSERT INTO dbo.dept (dept_name)
VALUES ('Business Intelligence');

SELECT * FROM dbo.dept;

dept_id,dept_name
1,Business Intelligence
2,Business Intelligence

### **Third Challenge** 

Challenge: Populate the dbo.dept table with more rows: Insert all department names from the hcm.departments table.

In [8]:
INSERT INTO dbo.dept (dept_name)
SELECT department_name 
FROM hcm.departments;

SELECT * FROM dbo.dept;

dept_id,dept_name
1,Business Intelligence
2,Business Intelligence
3,Administration
4,Marketing
5,Purchasing
6,Human Resources
7,Shipping
8,IT
9,Public Relations
10,Sales
11,Executive
12,Finance
13,Accounting
14,Treasury
15,Corporate Tax
16,Control And Credit
17,Shareholder Services
18,Benefits
19,Manufacturing
20,Construction
21,Contracting
22,Operations
23,IT Support
24,NOC
25,IT Helpdesk
26,Government Sales
27,Retail Sales
28,Recruiting
29,Payroll

### **Fourth Challenge** 

Challenge: Create a table called emp in the dbo schema. Specify the following columns: 

\- emp\_id INT 

\- first\_name VARCHAR(50) 

\- last\_name VARCHAR(50) 

\- hire\_date DATE 

\- dept\_id INT 

Give the IDENTITY property to the emp\_id column. Also, put a primary key constraint on the emp\_id column. Put NOT NULL constraints on any columns you think need them. Put a foreign key constraint on the dept\_id column which references back to the dept\_id column from the dbo.dept table.

In [10]:
CREATE TABLE dbo.emp(
    emp_id INT IDENTITY(1,1) PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    hire_date DATE NOT NULL,
    dept_id INT FOREIGN KEY REFERENCES dbo.dept(dept_id)
)

### **Fifth Challenge** 

Challenge: Populate the dbo.emp table with the following two employees: 

| emp\_id | first\_name | last\_name | hire\_date | dept\_id |
| ------- | ----------- | ---------- | ---------- | -------- |
| 1 | Scott | Davis | Dec-11-2020 | 1 |
| 2 | Miriam | Yardley | Dec-05-2020 | 1 |

In [12]:
INSERT INTO dbo.emp (first_name, last_name, hire_date, dept_id)
VALUES
    ('Scott', 'Davis', '20201211', 1),
    ('Miriam', 'Yardley', '20201205', 1);

SELECT * FROM dbo.emp;

emp_id,first_name,last_name,hire_date,dept_id
1,Scott,Davis,2020-12-11,1
2,Miriam,Yardley,2020-12-05,1

### **UPDATE STATEMENT Challenge**

Challenge: Use an UPDATE statement to change Miriam's last name from 'Yardley' to 'Greenbank' in the dbo.emp table. Identify Miriam by her emp\_id number in the WHERE clause of the UPDATE statement.

In [2]:
UPDATE dbo.emp 
SET last_name = 'Greenbank'
WHERE emp_id = 2;

SELECT * FROM dbo.emp;

emp_id,first_name,last_name,hire_date,dept_id
1,Scott,Davis,2020-12-11,1
2,Miriam,Greenbank,2020-12-05,1