# GROUP BY Challenges

\*\*Use SAMPLEDB Database\*\*

In [1]:
USE SAMPLEDB 
GO

### **First Challenge** 

Challenge: Write query to give the total number of employees in each department as given by the department\_id column in the hcm.employees table.

In [2]:
SELECT department_id, COUNT(*) AS total_employees
FROM hcm.employees 
GROUP BY department_id;

department_id,total_employees
NULL,29
30,6
50,25
60,5
80,33
90,3
100,6

### **Second Challenge** 

Challenge: Write a query to give the average salary in each department as given by the department\_id column in the hcm.employees table. Order the query result by average salary from highest to lowest.

In [5]:
SELECT department_id, AVG(salary) AS average_salary
FROM hcm.employees 
GROUP BY department_id 
ORDER BY average_salary DESC;

department_id,average_salary
90,464000.000000
80,217309.090909
100,206432.000000
60,138240.000000
NULL,113965.241379
30,99600.000000
50,88704.000000

### **Third Challenge** 

Challenge: Write a query to give the total number of products on hand at each warehouse as given by the warehouse\_id column in the oes.inventories table. Also, limit the result to only warehouses which have greater than 5,000 product items on hand.

In [9]:
SELECT warehouse_id, SUM(quantity_on_hand) AS total_products
FROM oes.inventories
GROUP BY warehouse_id
HAVING SUM(quantity_on_hand) > 5000;

warehouse_id,total_products
2,7618
4,7826
5,7839
6,8751
7,7628
8,9535
9,9064

### **Fourth Challenge** 

Challenge: What is the date of the most recent population count at each locality in the bird.antarctic\_populations table?

In [12]:
SELECT locality, MAX(date_of_count) as recent_count_date 
FROM bird.antarctic_populations
GROUP BY locality;

locality,recent_count_date
Anvers Island,2020-09-18
Elephant Island,2020-04-19
Falkland Islands,2020-11-07
South Georgia Island,2020-11-05

### **Fifth Challenge** 

Challenge: What is the date of the most recent population count for each species at each locality in the bird.antarctic\_populations table?

In [14]:
SELECT species_id, locality, MAX(date_of_count) as recent_count_date 
FROM bird.antarctic_populations
GROUP BY species_id, locality;

species_id,locality,recent_count_date
1,Anvers Island,2020-09-18
2,Falkland Islands,2020-11-07
2,South Georgia Island,2020-11-05
3,Elephant Island,2020-04-19
3,Falkland Islands,2020-09-20
4,South Georgia Island,2020-09-20