# Join Challenges

\*\*Use SAMPLEDB Database\*\*

In [2]:
USE SAMPLEDB 
GO

### **First Challenge**

Challenge: Write a query to return the following attributes for employees who belong to a department:  

\- employee\_id   
\- first\_name   
\- last\_name   
\- salary   
\- department\_name

In [3]:
SELECT e.employee_id, e.first_name, e.last_name, e.salary, d.department_name
FROM hcm.employees e INNER JOIN hcm.departments d 
ON e.department_id = d.department_id;

employee_id,first_name,last_name,salary,department_name
100,Jack,Bernard,576000.00,Executive
101,Don,Reilly,408000.00,Executive
102,Judy,Lawson,408000.00,Executive
103,Yani,Wenzlick,216000.00,IT
104,Rachel,Mortensen,144000.00,IT
105,Paul,Cameron,115200.00,IT
106,Russell,King,115200.00,IT
107,Maria,Cameron,100800.00,IT
108,Patricia,Doyle,288192.00,Finance
109,Daniel,Hopkins,216000.00,Finance
110,John,Chen,196800.00,Finance
111,Llyod,Henderson,184800.00,Finance
112,Lena,Chadwick,187200.00,Finance
113,Richard,Stewart,165600.00,Finance
114,Diana,Colman,264000.00,Purchasing
115,Alexander,Khoo,74400.00,Purchasing
116,Shelli,Baida,69600.00,Purchasing
117,Peter,Owen,67200.00,Purchasing
118,Peter,Owen,62400.00,Purchasing
119,Karen,Colmenares,60000.00,Purchasing
120,Matthew,Wilson,196800.00,Shipping
121,Jack,Hale,196800.00,Shipping
122,Priya,Singh,189600.00,Shipping
123,Shanta,Vollman,156000.00,Shipping
124,Kevin,Mourgos,139200.00,Shipping
125,Julia,Nayer,76800.00,Shipping
126,Irene,Mikkilineni,64800.00,Shipping
127,James,Landry,57600.00,Shipping
128,Steven,Markle,52800.00,Shipping
129,Laura,Bissot,79200.00,Shipping
130,Mark,Atkinson,67200.00,Shipping
131,James,Marlow,60000.00,Shipping
132,Gavin,Olson,52800.00,Shipping
133,Jason,Mallin,79200.00,Shipping
134,Michael,Rogers,69600.00,Shipping
135,Mitch,Holt,57600.00,Shipping
136,Hazel,Philtanker,52800.00,Shipping
137,Renske,Ladwig,86400.00,Shipping
138,Stephen,Stiles,76800.00,Shipping
139,Tony,Rogers,64800.00,Shipping
140,Mayank,Patel,60000.00,Shipping
141,Trenna,Rajs,84000.00,Shipping
142,Rick,Davies,74400.00,Shipping
143,Randall,Matos,62400.00,Shipping
144,Peter,Vargas,60000.00,Shipping
145,Harold,Russell,336000.00,Sales
146,Karen,Partners,336000.00,Sales
147,Alberto,Errazuriz,288000.00,Sales
148,Gerald,Cambrault,264000.00,Sales
149,Michael,Rogers,252000.00,Sales
150,Peter,Tucker,240000.00,Sales
151,David,Bernstein,228000.00,Sales
152,Peter,Hall,216000.00,Sales
153,Christopher,Olsen,192000.00,Sales
154,Raewyn,Cambrault,180000.00,Sales
155,Oliver,Tuvault,168000.00,Sales
156,Janette,King,240000.00,Sales
157,Patrick,Sully,228000.00,Sales
158,Allan,McEwen,216000.00,Sales
159,Lindsey,Smith,192000.00,Sales
160,Louise,Doran,180000.00,Sales
161,Sarath,Sewall,168000.00,Sales
162,Clara,Vishney,252000.00,Sales
163,Danielle,Greene,228000.00,Sales
164,Tamara,Marvins,172800.00,Sales
165,David,Lee,163200.00,Sales
166,Sundar,Ande,153600.00,Sales
167,Amit,Banda,148800.00,Sales
168,Danny,Ozer,276000.00,Sales
169,Alexander,Bloom,240000.00,Sales
170,William,Fox,230400.00,Sales
171,Ashley,Smith,177600.00,Sales
172,Edward,Bates,175200.00,Sales
173,Clark,Solomon,146400.00,Sales
174,Annemarie,Hoffman,264000.00,Sales
175,Hiroko,Hutton,211200.00,Sales
176,Aron,Taylor,206400.00,Sales
177,Theron,Livingston,201600.00,Sales

### **Second Challenge**

Challenge: Write a query to return the following attributes for all employees, including employees who do not belong to a department: 

\- employee\_id 

\- first\_name 

\- last\_name 

\- salary 

\- department\_name

In [4]:
SELECT e.employee_id, e.first_name, e.last_name, e.salary, d.department_name
FROM hcm.employees e LEFT JOIN hcm.departments d 
ON e.department_id = d.department_id;

employee_id,first_name,last_name,salary,department_name
100,Jack,Bernard,576000.00,Executive
101,Don,Reilly,408000.00,Executive
102,Judy,Lawson,408000.00,Executive
103,Yani,Wenzlick,216000.00,IT
104,Rachel,Mortensen,144000.00,IT
105,Paul,Cameron,115200.00,IT
106,Russell,King,115200.00,IT
107,Maria,Cameron,100800.00,IT
108,Patricia,Doyle,288192.00,Finance
109,Daniel,Hopkins,216000.00,Finance
110,John,Chen,196800.00,Finance
111,Llyod,Henderson,184800.00,Finance
112,Lena,Chadwick,187200.00,Finance
113,Richard,Stewart,165600.00,Finance
114,Diana,Colman,264000.00,Purchasing
115,Alexander,Khoo,74400.00,Purchasing
116,Shelli,Baida,69600.00,Purchasing
117,Peter,Owen,67200.00,Purchasing
118,Peter,Owen,62400.00,Purchasing
119,Karen,Colmenares,60000.00,Purchasing
120,Matthew,Wilson,196800.00,Shipping
121,Jack,Hale,196800.00,Shipping
122,Priya,Singh,189600.00,Shipping
123,Shanta,Vollman,156000.00,Shipping
124,Kevin,Mourgos,139200.00,Shipping
125,Julia,Nayer,76800.00,Shipping
126,Irene,Mikkilineni,64800.00,Shipping
127,James,Landry,57600.00,Shipping
128,Steven,Markle,52800.00,Shipping
129,Laura,Bissot,79200.00,Shipping
130,Mark,Atkinson,67200.00,Shipping
131,James,Marlow,60000.00,Shipping
132,Gavin,Olson,52800.00,Shipping
133,Jason,Mallin,79200.00,Shipping
134,Michael,Rogers,69600.00,Shipping
135,Mitch,Holt,57600.00,Shipping
136,Hazel,Philtanker,52800.00,Shipping
137,Renske,Ladwig,86400.00,Shipping
138,Stephen,Stiles,76800.00,Shipping
139,Tony,Rogers,64800.00,Shipping
140,Mayank,Patel,60000.00,Shipping
141,Trenna,Rajs,84000.00,Shipping
142,Rick,Davies,74400.00,Shipping
143,Randall,Matos,62400.00,Shipping
144,Peter,Vargas,60000.00,Shipping
145,Harold,Russell,336000.00,Sales
146,Karen,Partners,336000.00,Sales
147,Alberto,Errazuriz,288000.00,Sales
148,Gerald,Cambrault,264000.00,Sales
149,Michael,Rogers,252000.00,Sales
150,Peter,Tucker,240000.00,Sales
151,David,Bernstein,228000.00,Sales
152,Peter,Hall,216000.00,Sales
153,Christopher,Olsen,192000.00,Sales
154,Raewyn,Cambrault,180000.00,Sales
155,Oliver,Tuvault,168000.00,Sales
156,Janette,King,240000.00,Sales
157,Patrick,Sully,228000.00,Sales
158,Allan,McEwen,216000.00,Sales
159,Lindsey,Smith,192000.00,Sales
160,Louise,Doran,180000.00,Sales
161,Sarath,Sewall,168000.00,Sales
162,Clara,Vishney,252000.00,Sales
163,Danielle,Greene,228000.00,Sales
164,Tamara,Marvins,172800.00,Sales
165,David,Lee,163200.00,Sales
166,Sundar,Ande,153600.00,Sales
167,Amit,Banda,148800.00,Sales
168,Danny,Ozer,276000.00,Sales
169,Alexander,Bloom,240000.00,Sales
170,William,Fox,230400.00,Sales
171,Ashley,Smith,177600.00,Sales
172,Edward,Bates,175200.00,Sales
173,Clark,Solomon,146400.00,Sales
174,Annemarie,Hoffman,264000.00,Sales
175,Hiroko,Hutton,211200.00,Sales
176,Aron,Taylor,206400.00,Sales
177,Theron,Livingston,201600.00,Sales
178,Olivia,Grant,168000.00,NULL
179,Richie,Johnson,148800.00,NULL
180,Horacio,Taylor,76800.00,NULL
181,Laura,Hobbs,74400.00,NULL
182,Martha,Sullivan,60000.00,NULL
183,Girard,Geoni,67200.00,NULL
184,Nandita,Sarchand,100800.00,NULL
185,Alexis,Bull,98400.00,NULL
186,Julia,Dellinger,81600.00,NULL
187,Anthony,Cabrio,72000.00,NULL
188,Kelly,Chung,91200.00,NULL
189,Jennifer,Dilly,86400.00,NULL
190,Timothy,Gates,69600.00,NULL
191,Chuck,Perkins,60000.00,NULL
192,Sarah,Bell,96000.00,NULL
193,Britney,Everett,93600.00,NULL
194,Samuel,McCain,76800.00,NULL
195,Catrina,Jones,67200.00,NULL
196,Tabitha,Walsh,74400.00,NULL
197,Milford,Feeney,72000.00,NULL
198,Alfred,Tate,62400.00,NULL
199,Douglas,Grant,62400.00,NULL
200,Jennifer,Whalen,105600.00,NULL
201,Michael,Hartstein,312000.00,NULL
202,Patrick,Bacon,144000.00,NULL
203,Susan,Jacobs,156000.00,NULL
204,Richard,Baer,240000.00,NULL
205,Shelley,Higgins,288192.00,NULL
206,William,Gietz,199200.00,NULL

### **Third Challenge** 

Challenge: Write a query to return the total number of employees in each department. Include the department\_name in the query result. Also, include employees who have not been assigned to a department.

In [9]:
SELECT d.department_name, COUNT(*) AS employee_count
FROM hcm.employees e LEFT JOIN hcm.departments d
ON e.department_id = d.department_id 
GROUP BY d.department_name;

department_name,employee_count
NULL,29
Executive,3
Finance,6
IT,5
Purchasing,6
Sales,33
Shipping,25