# Function Challenges

\*\*Use SAMPLEDB Database\*\*

In [1]:
USE SAMPLEDB
GO

### **First Challenge**

Challenge: Concatenate the first name and last name of each employee. Include a single space between the first and last name. Name the new expression employee\_name. Include: 

\- employee\_id 

\- first\_name 

\- last\_name 

\- employee\_name

In [2]:
SELECT employee_id, first_name, last_name, first_name + ' ' + last_name AS employee_name
FROM hcm.employees ;

employee_id,first_name,last_name,employee_name
100,Jack,Bernard,Jack Bernard
101,Don,Reilly,Don Reilly
102,Judy,Lawson,Judy Lawson
103,Yani,Wenzlick,Yani Wenzlick
104,Rachel,Mortensen,Rachel Mortensen
105,Paul,Cameron,Paul Cameron
106,Russell,King,Russell King
107,Maria,Cameron,Maria Cameron
108,Patricia,Doyle,Patricia Doyle
109,Daniel,Hopkins,Daniel Hopkins
110,John,Chen,John Chen
111,Llyod,Henderson,Llyod Henderson
112,Lena,Chadwick,Lena Chadwick
113,Richard,Stewart,Richard Stewart
114,Diana,Colman,Diana Colman
115,Alexander,Khoo,Alexander Khoo
116,Shelli,Baida,Shelli Baida
117,Peter,Owen,Peter Owen
118,Peter,Owen,Peter Owen
119,Karen,Colmenares,Karen Colmenares
120,Matthew,Wilson,Matthew Wilson
121,Jack,Hale,Jack Hale
122,Priya,Singh,Priya Singh
123,Shanta,Vollman,Shanta Vollman
124,Kevin,Mourgos,Kevin Mourgos
125,Julia,Nayer,Julia Nayer
126,Irene,Mikkilineni,Irene Mikkilineni
127,James,Landry,James Landry
128,Steven,Markle,Steven Markle
129,Laura,Bissot,Laura Bissot
130,Mark,Atkinson,Mark Atkinson
131,James,Marlow,James Marlow
132,Gavin,Olson,Gavin Olson
133,Jason,Mallin,Jason Mallin
134,Michael,Rogers,Michael Rogers
135,Mitch,Holt,Mitch Holt
136,Hazel,Philtanker,Hazel Philtanker
137,Renske,Ladwig,Renske Ladwig
138,Stephen,Stiles,Stephen Stiles
139,Tony,Rogers,Tony Rogers
140,Mayank,Patel,Mayank Patel
141,Trenna,Rajs,Trenna Rajs
142,Rick,Davies,Rick Davies
143,Randall,Matos,Randall Matos
144,Peter,Vargas,Peter Vargas
145,Harold,Russell,Harold Russell
146,Karen,Partners,Karen Partners
147,Alberto,Errazuriz,Alberto Errazuriz
148,Gerald,Cambrault,Gerald Cambrault
149,Michael,Rogers,Michael Rogers
150,Peter,Tucker,Peter Tucker
151,David,Bernstein,David Bernstein
152,Peter,Hall,Peter Hall
153,Christopher,Olsen,Christopher Olsen
154,Raewyn,Cambrault,Raewyn Cambrault
155,Oliver,Tuvault,Oliver Tuvault
156,Janette,King,Janette King
157,Patrick,Sully,Patrick Sully
158,Allan,McEwen,Allan McEwen
159,Lindsey,Smith,Lindsey Smith
160,Louise,Doran,Louise Doran
161,Sarath,Sewall,Sarath Sewall
162,Clara,Vishney,Clara Vishney
163,Danielle,Greene,Danielle Greene
164,Tamara,Marvins,Tamara Marvins
165,David,Lee,David Lee
166,Sundar,Ande,Sundar Ande
167,Amit,Banda,Amit Banda
168,Danny,Ozer,Danny Ozer
169,Alexander,Bloom,Alexander Bloom
170,William,Fox,William Fox
171,Ashley,Smith,Ashley Smith
172,Edward,Bates,Edward Bates
173,Clark,Solomon,Clark Solomon
174,Annemarie,Hoffman,Annemarie Hoffman
175,Hiroko,Hutton,Hiroko Hutton
176,Aron,Taylor,Aron Taylor
177,Theron,Livingston,Theron Livingston
178,Olivia,Grant,Olivia Grant
179,Richie,Johnson,Richie Johnson
180,Horacio,Taylor,Horacio Taylor
181,Laura,Hobbs,Laura Hobbs
182,Martha,Sullivan,Martha Sullivan
183,Girard,Geoni,Girard Geoni
184,Nandita,Sarchand,Nandita Sarchand
185,Alexis,Bull,Alexis Bull
186,Julia,Dellinger,Julia Dellinger
187,Anthony,Cabrio,Anthony Cabrio
188,Kelly,Chung,Kelly Chung
189,Jennifer,Dilly,Jennifer Dilly
190,Timothy,Gates,Timothy Gates
191,Chuck,Perkins,Chuck Perkins
192,Sarah,Bell,Sarah Bell
193,Britney,Everett,Britney Everett
194,Samuel,McCain,Samuel McCain
195,Catrina,Jones,Catrina Jones
196,Tabitha,Walsh,Tabitha Walsh
197,Milford,Feeney,Milford Feeney
198,Alfred,Tate,Alfred Tate
199,Douglas,Grant,Douglas Grant
200,Jennifer,Whalen,Jennifer Whalen
201,Michael,Hartstein,Michael Hartstein
202,Patrick,Bacon,Patrick Bacon
203,Susan,Jacobs,Susan Jacobs
204,Richard,Baer,Richard Baer
205,Shelley,Higgins,Shelley Higgins
206,William,Gietz,William Gietz

### **Second Challenge**

Challenge: Concatenate the first name, middle name, and last name of each employee. Include a single space between each of the names. Name the new expression employee\_name. Include: 

\- employee\_id 

\- first\_name 

\- last\_name 

\- employee\_name

In [4]:
SELECT employee_id, first_name, last_name, first_name + ISNULL(' ' + middle_name, '') + ' ' + last_name AS employee_name
FROM hcm.employees;

employee_id,first_name,last_name,employee_name
100,Jack,Bernard,Jack John Bernard
101,Don,Reilly,Don Fred Reilly
102,Judy,Lawson,Judy Georgia Lawson
103,Yani,Wenzlick,Yani Michelle Wenzlick
104,Rachel,Mortensen,Rachel Alison Mortensen
105,Paul,Cameron,Paul James Cameron
106,Russell,King,Russell John King
107,Maria,Cameron,Maria April Cameron
108,Patricia,Doyle,Patricia Dana Doyle
109,Daniel,Hopkins,Daniel Alexander Hopkins
110,John,Chen,John Chen
111,Llyod,Henderson,Llyod Eric Henderson
112,Lena,Chadwick,Lena Michelle Chadwick
113,Richard,Stewart,Richard Mark Stewart
114,Diana,Colman,Diana Mary Colman
115,Alexander,Khoo,Alexander Khoo
116,Shelli,Baida,Shelli Baida
117,Peter,Owen,Peter Owen
118,Peter,Owen,Peter Richard Owen
119,Karen,Colmenares,Karen Rhonda Colmenares
120,Matthew,Wilson,Matthew Anthony Wilson
121,Jack,Hale,Jack Earl Hale
122,Priya,Singh,Priya Singh
123,Shanta,Vollman,Shanta Vollman
124,Kevin,Mourgos,Kevin Mourgos
125,Julia,Nayer,Julia Aleisha Nayer
126,Irene,Mikkilineni,Irene Mikkilineni
127,James,Landry,James Landry
128,Steven,Markle,Steven Andrew Markle
129,Laura,Bissot,Laura Tanya Bissot
130,Mark,Atkinson,Mark Jeffrey Atkinson
131,James,Marlow,James Ian Marlow
132,Gavin,Olson,Gavin Francis Olson
133,Jason,Mallin,Jason Paul Mallin
134,Michael,Rogers,Michael Robert Rogers
135,Mitch,Holt,Mitch Matthew Holt
136,Hazel,Philtanker,Hazel Danielle Philtanker
137,Renske,Ladwig,Renske Ladwig
138,Stephen,Stiles,Stephen Curtis Stiles
139,Tony,Rogers,Tony Sean Rogers
140,Mayank,Patel,Mayank Patel
141,Trenna,Rajs,Trenna Jasmine Rajs
142,Rick,Davies,Rick David Davies
143,Randall,Matos,Randall Patrick Matos
144,Peter,Vargas,Peter Andrew Vargas
145,Harold,Russell,Harold John Russell
146,Karen,Partners,Karen Courtney Partners
147,Alberto,Errazuriz,Alberto Jesus Errazuriz
148,Gerald,Cambrault,Gerald Cambrault
149,Michael,Rogers,Michael Rogers
150,Peter,Tucker,Peter Tucker
151,David,Bernstein,David Bernstein
152,Peter,Hall,Peter Hall
153,Christopher,Olsen,Christopher Olsen
154,Raewyn,Cambrault,Raewyn Phoebe Cambrault
155,Oliver,Tuvault,Oliver Tuvault
156,Janette,King,Janette Helen King
157,Patrick,Sully,Patrick Richard Sully
158,Allan,McEwen,Allan Arthur McEwen
159,Lindsey,Smith,Lindsey Ben Smith
160,Louise,Doran,Louise Christina Doran
161,Sarath,Sewall,Sarath Melissa Sewall
162,Clara,Vishney,Clara Vishney
163,Danielle,Greene,Danielle Marie Greene
164,Tamara,Marvins,Tamara Madeleine Marvins
165,David,Lee,David Craig Lee
166,Sundar,Ande,Sundar Ande
167,Amit,Banda,Amit Tom Banda
168,Danny,Ozer,Danny Ozer
169,Alexander,Bloom,Alexander Joseph Bloom
170,William,Fox,William Nigel Fox
171,Ashley,Smith,Ashley Freya Smith
172,Edward,Bates,Edward Neil Bates
173,Clark,Solomon,Clark Nigel Solomon
174,Annemarie,Hoffman,Annemarie Olivia Hoffman
175,Hiroko,Hutton,Hiroko Hutton
176,Aron,Taylor,Aron Taylor
177,Theron,Livingston,Theron Livingston
178,Olivia,Grant,Olivia Chantelle Grant
179,Richie,Johnson,Richie Hugh Johnson
180,Horacio,Taylor,Horacio Otis Taylor
181,Laura,Hobbs,Laura Caitlyn Hobbs
182,Martha,Sullivan,Martha Sullivan
183,Girard,Geoni,Girard Rafael Geoni
184,Nandita,Sarchand,Nandita Sarchand
185,Alexis,Bull,Alexis Bull
186,Julia,Dellinger,Julia Veronica Dellinger
187,Anthony,Cabrio,Anthony Alec Cabrio
188,Kelly,Chung,Kelly Natalie Chung
189,Jennifer,Dilly,Jennifer Hazel Dilly
190,Timothy,Gates,Timothy Mitchell Gates
191,Chuck,Perkins,Chuck Perkins
192,Sarah,Bell,Sarah Maisie Bell
193,Britney,Everett,Britney Josie Everett
194,Samuel,McCain,Samuel Christopher McCain
195,Catrina,Jones,Catrina Hollie Jones
196,Tabitha,Walsh,Tabitha Meghan Walsh
197,Milford,Feeney,Milford Feeney
198,Alfred,Tate,Alfred Jack Tate
199,Douglas,Grant,Douglas Robert Grant
200,Jennifer,Whalen,Jennifer Patricia Whalen
201,Michael,Hartstein,Michael Timothy Hartstein
202,Patrick,Bacon,Patrick Ronan Bacon
203,Susan,Jacobs,Susan Jane Jacobs
204,Richard,Baer,Richard Michael Baer
205,Shelley,Higgins,Shelley Higgins
206,William,Gietz,William Abe Gietz

### **Third Challenge** 

Challenge: Extract the genus name from the scientific\_name as given in the bird.antarctic\_species table.

In [7]:
SELECT LEFT(scientific_name, CHARINDEX(' ', scientific_name) - 1) AS genus_name
FROM  bird.antarctic_species;

genus_name
Aptenodytes
Eudyptes
Phoebetria
Pygoscelis
Pygoscelis

### **Fourth Challenge** 

Challenge: Extract the species name from the scientific\_name as given in the bird.antarctic\_species table.

In [8]:
SELECT SUBSTRING(scientific_name, CHARINDEX(' ', scientific_name) + 1, LEN(scientific_name)) AS species_name
FROM bird.antarctic_species;

species_name
patagonicus
chrysolophus
fusca
adeliae
antarcticus

### **Fifth Challenge**

Challenge: Return the age in years for all employees. Name this expression as employee\_age. Include: 

\- employee\_id 

\- first\_name 

\- last\_name 

\- birth\_date 

\- employee\_age

In [9]:
SELECT employee_id, first_name, last_name, birth_date, DATEDIFF(year, birth_date, CURRENT_TIMESTAMP) AS employee_age 
FROM hcm.employees;

employee_id,first_name,last_name,birth_date,employee_age
100,Jack,Bernard,1994-01-13,28
101,Don,Reilly,1966-12-27,56
102,Judy,Lawson,1960-11-12,62
103,Yani,Wenzlick,1967-09-22,55
104,Rachel,Mortensen,1959-07-27,63
105,Paul,Cameron,1985-12-20,37
106,Russell,King,1989-04-18,33
107,Maria,Cameron,1973-03-11,49
108,Patricia,Doyle,1971-08-14,51
109,Daniel,Hopkins,1995-04-15,27
110,John,Chen,1961-01-24,61
111,Llyod,Henderson,1992-10-02,30
112,Lena,Chadwick,1957-02-03,65
113,Richard,Stewart,1967-10-20,55
114,Diana,Colman,1986-02-13,36
115,Alexander,Khoo,1959-10-17,63
116,Shelli,Baida,1959-01-23,63
117,Peter,Owen,1988-10-22,34
118,Peter,Owen,1994-02-23,28
119,Karen,Colmenares,1987-03-06,35
120,Matthew,Wilson,1970-10-13,52
121,Jack,Hale,1966-09-13,56
122,Priya,Singh,1980-08-04,42
123,Shanta,Vollman,1984-07-06,38
124,Kevin,Mourgos,1970-09-03,52
125,Julia,Nayer,1972-09-16,50
126,Irene,Mikkilineni,1962-02-16,60
127,James,Landry,1972-04-13,50
128,Steven,Markle,1970-08-19,52
129,Laura,Bissot,1987-04-02,35
130,Mark,Atkinson,1979-02-04,43
131,James,Marlow,1984-06-21,38
132,Gavin,Olson,1973-02-16,49
133,Jason,Mallin,1985-12-22,37
134,Michael,Rogers,1969-08-25,53
135,Mitch,Holt,1992-05-10,30
136,Hazel,Philtanker,1994-10-17,28
137,Renske,Ladwig,1972-07-18,50
138,Stephen,Stiles,1982-11-13,40
139,Tony,Rogers,1976-02-21,46
140,Mayank,Patel,1983-06-16,39
141,Trenna,Rajs,1965-09-27,57
142,Rick,Davies,1977-04-13,45
143,Randall,Matos,1957-05-24,65
144,Peter,Vargas,1975-05-24,47
145,Harold,Russell,1969-01-06,53
146,Karen,Partners,1986-12-06,36
147,Alberto,Errazuriz,1973-08-17,49
148,Gerald,Cambrault,1973-06-27,49
149,Michael,Rogers,1970-10-19,52
150,Peter,Tucker,1989-04-28,33
151,David,Bernstein,1963-04-07,59
152,Peter,Hall,1994-05-11,28
153,Christopher,Olsen,1958-10-13,64
154,Raewyn,Cambrault,1985-10-25,37
155,Oliver,Tuvault,1983-10-02,39
156,Janette,King,1989-09-28,33
157,Patrick,Sully,1993-09-20,29
158,Allan,McEwen,1966-07-13,56
159,Lindsey,Smith,1971-06-12,51
160,Louise,Doran,1971-01-25,51
161,Sarath,Sewall,1958-08-27,64
162,Clara,Vishney,1978-12-23,44
163,Danielle,Greene,1990-05-16,32
164,Tamara,Marvins,1963-09-14,59
165,David,Lee,1987-07-03,35
166,Sundar,Ande,1995-06-12,27
167,Amit,Banda,1978-05-09,44
168,Danny,Ozer,1990-03-28,32
169,Alexander,Bloom,1964-09-23,58
170,William,Fox,1992-07-13,30
171,Ashley,Smith,1979-12-07,43
172,Edward,Bates,1968-02-04,54
173,Clark,Solomon,1965-02-07,57
174,Annemarie,Hoffman,1975-08-04,47
175,Hiroko,Hutton,1995-04-02,27
176,Aron,Taylor,1960-08-21,62
177,Theron,Livingston,1988-08-20,34
178,Olivia,Grant,1995-06-26,27
179,Richie,Johnson,1977-11-17,45
180,Horacio,Taylor,1971-11-06,51
181,Laura,Hobbs,1977-10-07,45
182,Martha,Sullivan,1960-08-04,62
183,Girard,Geoni,1965-08-02,57
184,Nandita,Sarchand,1975-12-13,47
185,Alexis,Bull,1963-03-26,59
186,Julia,Dellinger,1977-01-08,45
187,Anthony,Cabrio,1980-12-18,42
188,Kelly,Chung,1968-12-14,54
189,Jennifer,Dilly,1957-12-26,65
190,Timothy,Gates,1983-02-01,39
191,Chuck,Perkins,1994-03-01,28
192,Sarah,Bell,1969-04-05,53
193,Britney,Everett,1958-01-01,64
194,Samuel,McCain,1985-06-27,37
195,Catrina,Jones,1957-02-17,65
196,Tabitha,Walsh,1991-04-02,31
197,Milford,Feeney,1962-06-10,60
198,Alfred,Tate,1991-04-03,31
199,Douglas,Grant,1993-02-04,29
200,Jennifer,Whalen,1983-11-15,39
201,Michael,Hartstein,1965-07-11,57
202,Patrick,Bacon,1993-11-10,29
203,Susan,Jacobs,1985-07-11,37
204,Richard,Baer,1961-04-07,61
205,Shelley,Higgins,1975-04-04,47
206,William,Gietz,1962-10-24,60

### **Sixth Challenge** 

Challenge: Assuming an estimated shipping date of 7 days after the order date, add a column expression called estimated\_shipping\_date for all unshipped orders. Include: 

\- order\_id 

\- order\_date 

\- estimated\_shipping\_date

In [11]:
SELECT order_id, order_date, DATEADD(day, 7, order_date) AS estimated_shipping_date
FROM oes.orders
WHERE shipped_date IS NULL;

order_id,order_date,estimated_shipping_date
11008,2020-07-08,2020-07-15
11019,2020-07-13,2020-07-20
11039,2020-04-21,2020-04-28
11040,2020-04-22,2020-04-29
11045,2020-04-23,2020-04-30
11051,2020-07-27,2020-08-03
11054,2020-04-28,2020-05-05
11058,2020-07-29,2020-08-05
11059,2020-07-29,2020-08-05
11061,2020-07-30,2020-08-06
11062,2020-07-30,2020-08-06
11065,2020-07-29,2020-08-05
11068,2020-07-29,2020-08-05
11070,2020-07-31,2020-08-07
11071,2020-07-31,2020-08-07
11072,2020-07-31,2020-08-07
11073,2020-07-31,2020-08-07
11074,2020-07-31,2020-08-07
11075,2020-07-30,2020-08-06
11076,2020-07-30,2020-08-06
11077,2020-07-30,2020-08-06

### **Seventh Challenge** 

Challenge: Calculate the average number of days it takes each shipping company to ship an order. Call this expression avg\_shipping\_days. Include: 

\- company\_name 

\- avg\_shipping\_days

In [14]:
SELECT s.company_name, AVG(DATEDIFF(day, o.order_date, o.shipped_date)) AS avg_shipping_days
FROM oes.orders o
INNER JOIN oes.shippers s 
ON o.shipper_id = s.shipper_id 
WHERE shipped_date IS NOT NULL
GROUP BY s.company_name;

company_name,avg_shipping_days
Fast Freight,8
Pack and Ship,7
Smart Shipping Ltd,9