# SELECT DISTINCT Challenges

\*\*Use SAMPLEDB Database\*\*

In [1]:
USE SAMPLEDB
GO

### **First Challenge**  

Challenge: Use a SELECT DISTINCT statement to get the distinct (i.e. unique) values that occur in the locality column from the bird.antarctic\_populations table.

In [2]:
SELECT DISTINCT locality
FROM bird.antarctic_populations;

locality
Anvers Island
Elephant Island
Falkland Islands
South Georgia Island

### **Second Challenge**  

Challenge: Use a SELECT DISTINCT statement to get the distinct combinations of values for both the locality and species\_id columns from the bird.antarctic\_populations table.

In [3]:
SELECT DISTINCT locality, species_id
FROM bird.antarctic_populations;

locality,species_id
Anvers Island,1
Falkland Islands,2
South Georgia Island,2
Elephant Island,3
Falkland Islands,3
South Georgia Island,4